<div class="devicePanel deviceListBox">
   <div class="listBoxTop">
      <div class="listBoxTitle">
         <span>
            设备列表&nbsp;&nbsp;
            <b class="listBadge">{{deviceList.length}}</b>
         </span>
         <i class="el-icon-d-arrow-right" :class="[isOpenList?'rotate-up':'rotate-down']" @click="toggleList"></i>
      </div>
      <input class="deviceSearch" type="text" placeholder="设备编号\监测点或拼音"/>
   </div>
   <ul class="listBoxContent">
      <li v-for="(item,index) in deviceList"
          @click="openMapWindow(index,item)"
          :class="{'active':highLightIndex === index,'warningItem':item.status === 1,'dangerItem':item.status === 2}">
         <div class="listItemTop">
            <span>{{item.name}}</span>
            <i class="icon iconfont"
               :class="{'icon-dianliang_low dangerStatus':item.voltage === 'low',
                        'icon-dianliang_middl warningStatus':item.voltage === 'middle',
                        'icon-dianliang_high normalStatus':item.voltage === 'high',
                        }">
            </i>
            <i class="icon iconfont"
               :class="{'icon-lianjie normalStatus':item.signal === 'on',
                        'icon-disconnect warningStatus':item.signal === 'off',
                        }">
            </i>
            <i class="icon iconfont icon-pingjia"
               :class="{'warningStatus':item.collect === 1}">
            </i>
         </div>
         <div class="listContent" v-for="devicesItem in item.facilityDevice.devices">
               <div class="listLabel-left">
                  <p>设备名：</p>
                  <p v-for="item in devicesItem.items">{{item.name}}：</p>
                  <p>最近通讯：</p>
               </div>
               <div class="listLabel-right">
                  <p>{{devicesItem.name}}</p>
                  <p v-for="item in devicesItem.items">{{item.dValue}}</p>
                  <p>{{item.sysUpdateTime}}</p>
               </div>
         </div>
      </li>
   </ul>
</div>