<div class="devicePanel deviceListBox">
   <div class="listBoxTop">
      <div class="listBoxTitle">
         <span>
            设备列表&nbsp;&nbsp;
            <b class="listBadge">{{deviceList.length}}</b>
         </span>
         <i class="el-icon-d-arrow-right" :class="[isOpenList?'rotate-up':'rotate-down']" @click="toggleList"></i>
      </div>
      <input class="deviceSearch" type="text" placeholder="设备编号\监测点或拼音"/>
      <div class="filterBox">
         <div>
            <el-select class="selectBox" v-model="typeOption1.value" placeholder="请选择" style="width: 4em;">
                <el-option
                        v-for="item in typeOption1.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
         </div>
         <div>
            <el-select class="selectBox" v-model="typeOption2.value" placeholder="请选择" style="width: 4em;">
                <el-option
                        v-for="item in typeOption2.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
         </div>
         <div>
            <el-select class="selectBox" v-model="typeOption3.value" placeholder="请选择">
                <el-option
                        v-for="item in typeOption3.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
         </div>
      </div>
   </div>
   <ul class="listBoxContent">
      <li v-for="(item,index) in deviceList"
          @click="openMapWindow(index,item)"
          :class="{'active':highLightIndex === index}">
         <div class="listItemTop">
            <i class="icon iconfont icon-pingjia"
               :class="{'cesc-color':item.collect === 1}">
            </i>
            <span>{{item.name}}</span>
            <i class="icon iconfont"
               :class="{'icon-dianliang_low':item.voltage === 'low',
                        'icon-dianliang_middl cesc-color':item.voltage === 'middle',
                        'icon-dianliang_high cesc-color':item.voltage === 'high',
                        }">
            </i>
            <i class="icon iconfont icon-WIFI"
               :class="{'cesc-color':item.signal === 'on'}">
            </i>
         </div>
         <div class="listContent" v-for="devicesItem in item.facilityDevice.devices">
               <div class="leftDotBox">
                  <span class="icon iconfont icon-icon-life-alarm" :class="{
                        'normalStatus':item.status === 0,
                        'warningStatus':item.status === 1,
                        'dangerStatus':item.status === 2,
                        'offlineStatus':item.status === 3
                 }"></span>
               </div>
               <div class="listLabel-left">
                  <p>设备名：</p>
                  <p v-for="item in devicesItem.items">{{item.name}}：</p>
                  <p>最近通讯：</p>
               </div>
               <div class="listLabel-right">
                  <p>{{devicesItem.name}}</p>
                  <p v-for="item in devicesItem.items">{{item.dValue}}</p>
                  <p>{{item.sysUpdateTime}}</p>
               </div>
         </div>
      </li>
   </ul>
</div>