<div class="mainContent">
    <div v-bind:id="mainContentDivId" class="row clearfix cesc-tab-content">
        <div class="col-md-6 col-sm-6 col-xs-12 bigPanel" v-show="containerMain.showList">
            <div class="x_panel animated fadeIn">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        数据角色
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--左侧工具栏-->
                    <div class="btn-group hidden-xs" role="group">
                        <!--vue的单击事件绑定 v-on:click="xxx"-->
                        <button type="button" class="btn btn-outline btn-default" title="新增"
                                v-on:click="containerMain.add">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default" title="删除"
                                v-on:click="containerMain.del">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!--右侧搜索栏-->
                    <form class="form-inline pull-right">
                        <div class="form-group">

                        </div>
                        <!--查询点击事件-->
                        <button type="button" class="btn btn-default btn-outline" title="查询"
                                v-on:click="containerMain.search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                    <!--表格控件，控件定义在js-->
                    <!--一个页面如果有多个这样的table，这里的id要改，容器对应的id也要改-->
                    <table id="tableMain">
                    </table>
                </div>
            </div>
        </div>

        <!--编辑表单（数据角色）-->
        <div class="col-md-6 col-sm-6 col-xs-12 bigPanel" v-show="containerMain.showEditForm">
            <div class="x_panel animated fadeIn">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        数据角色
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="btn-group hidden-xs" role="group">
                        <!--子表返回主表的返回按钮-->
                        <button type="button" class="btn btn-outline btn-default" title="返回"
                                v-on:click="containerMain.hideForm">
                            <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <!--子表返回主表的返回按钮-->
                        <button type="button" class="btn btn-outline btn-default" title="保存"
                                v-on:click="containerMain.submit">
                            保存
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal" id="formMain">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">名称：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="name"
                                                   v-model="containerMain.currentEntity.name">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <h2>
                                专题图层权限
                            </h2>
                            <ul :id="containerMain.treeId" class="ztree"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--列表（角色用户）-->
        <div class="col-md-6 col-sm-6 col-xs-12 bigPanel" v-show="containerDataRoleUserRlt.showList">
            <div class="x_panel animated fadeIn">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        数据角色用户
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="btn-group hidden-xs" role="group">
                        <!--子表返回主表的返回按钮-->
                        <button type="button" class="btn btn-outline btn-default" title="返回"
                                v-on:click="backDataRoleUserRltList">
                            <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!--左侧工具栏-->
                    <div class="btn-group hidden-xs" role="group">
                        <!--vue的单击事件绑定 v-on:click="xxx"-->
                        <button type="button" class="btn btn-outline btn-default" title="新增"
                                v-on:click="containerDataRoleUserRlt.selectUser">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default" title="删除"
                                v-on:click="containerDataRoleUserRlt.del">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!--右侧搜索栏-->
                    <form class="form-inline pull-right">

                        <!--查询点击事件-->
                        <button type="button" class="btn btn-default btn-outline" title="查询"
                                v-on:click="containerDataRoleUserRlt.search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                    <!--表格控件，控件定义在js-->
                    <!--一个页面如果有多个这样的table，这里的id要改，容器对应的id也要改-->
                    <table id="tableDataRoleUserRlt">
                    </table>
                </div>
            </div>
        </div>

        <!--列表（用户）-->
        <div class="col-md-12 col-sm-12 col-xs-12 bigPanel" v-show="containerUser.showList">
            <div class="x_panel animated fadeIn">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        用户
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--左侧工具栏-->
                    <div class="btn-group hidden-xs" role="group">
                        <!--子表返回主表的返回按钮-->
                        <button type="button" class="btn btn-outline btn-default" title="返回"
                                v-on:click="backUserList">
                            <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <!--vue的单击事件绑定 v-on:click="xxx"-->
                        <button type="button" class="btn btn-outline btn-default" title="确定"
                                v-on:click="containerUser.select">
                            确定
                        </button>
                    </div>
                    <!--右侧搜索栏-->
                    <form class="form-inline pull-right">
                        <div class="form-group">
                            <!--查询条件自动绑定到容器的toolbarQueryParam对象的具体属性，查询时会自动传到后台
                            如果vue的绑定不能满足，可以把查询条件在容器的getCustomQueryParam方法写入-->
                            <input type="text" class="form-control" placeholder="登录名"
                                   v-model="containerUser.toolbarQueryParam.loginName">
                            <input type="text" class="form-control" placeholder="姓名"
                                   v-model="containerUser.toolbarQueryParam.name">
                        </div>
                        <!--查询点击事件-->
                        <button type="button" class="btn btn-default btn-outline" title="查询"
                                v-on:click="containerUser.search">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </form>
                    <!--表格控件，控件定义在js-->
                    <!--一个页面如果有多个这样的table，这里的id要改，容器对应的id也要改-->
                    <table id="tableUser">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>