.deviceInfo{
    width: calc(81.5% - 25px);
    height: 18em;
    position: absolute;
    right: 10px;
    bottom:10px;
    z-index:8;
}
.devicePanel-top{
    height: 3em;
    padding: 0 1em;
    line-height: 2em;
    color: #9d9d9d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.devicePanel-top .top-label{
    font-size:14px;
    margin-right:1em;
}
.deviceMiddle{
    color: #555;
    flex: 3;
    text-align: center;
    font-size: 12px;
}
.deviceMiddle > span{
    margin-right: 1em;
}
.deviceMiddle > span:last-child{
    margin:0;
}
.devicePanel-bottom{
    height: calc(100% - 3em);
    background: #fff;
}
.multiTabs{
    height: 100%;
}
.multiTabs .el-tabs__header{
    height:3em;
}
.multiTabs .el-tabs__content{
    height:calc(100% - 3em);
}
.multiTabs .el-tab-pane{
    height: 100%;
    overflow:auto;
}
.multiDeviceBox{
    position: absolute;
    top:160px;
    bottom:calc(18em + 20px);
    right: 10px;
    width:400px;
}
.tabInfoBox{
    height:8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabInfoImg{
    flex-basis:40%;
}
.tabInfoItem{
    
}
.mediaBox{
    height: calc(100% - 8em);
    overflow: auto;
}
.tabContent{
    flex-basis: 60%;
    padding:0;
}