.devicePanel{
    background: #f1f1f1;
    color: #9d9d9d;
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,.1);
    z-index:1;
}
.deviceListBox{
    width:18.5%;
    height:calc(100% - 20px);
    position: absolute;
    top:10px;
    left:10px;
}
.listBoxTop{
    height: 11.5em;
    background: #2f91e4;
}
.listBoxTitle{
    height: 3em;
    line-height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    color: #fff;
    background: #007EDF;
}
.listBadge{
    padding: 0.2em 0.8em;
    background: #f2b817;
    border-radius: 2em;
    color: #fff;
}
.rotate-up{
    transform:rotate(-90deg);
}
.rotate-down{
    transform:rotate(90deg);
}
.filterBox{
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filterBox .cesc-tag{
    padding: 0.3em 0.5em;
}
.deviceSearch{
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 2em;
    margin: 1em 0;
    line-height: 2em;
    height: 2em;
    outline: none;
    border: none;
    color: #333;
    background: url("../../images/searchBtn.png")no-repeat 2em;
    background-color: #fff;
}
.listBoxContent{
    height: calc(100% - 11.5em);
    overflow: auto;
    padding: 0 5px;
    background: #f1f1f1;
}
.listBoxContent > li{
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    border:1px solid #eee;
}
.listBoxContent > li:first-child{
    margin-top:5px;
}
.listBoxContent > li:hover,.listBoxContent .active{
    background: #EDF6FD;
    cursor: default;
}
.listItemTop{
    height: 2.6em;
    line-height: 2.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
}
.listItemTop > span{
    color:#555;
    flex:1;
}
.listItemTop > i {
    padding-right:5px;
    font-size:1.2em;
}
.listItemTop > i:last-child {
    padding-right:0;
}
.listContent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0;
    position: relative;
    overflow: hidden;
}
.listItemTop:before,.listItemTop:after,.listContent:before,.listContent:after{
    display: block;
    content:'';
    position: absolute;
    width:1em;
    height:1em;
    background: #f1f1f1;
    border-radius:2em;
}
.listItemTop:before{
    left:-0.5em;
    bottom:-0.5em;
}
.listItemTop:after{
    right:-0.5em;
    bottom:-0.5em;
}
.listContent:before{
    left:-0.5em;
    top:-0.5em;
}
.listContent:after{
    right:-0.5em;
    top:-0.5em;
}
.listLabel-left{
    flex-basis:30%;
}
.listLabel-right{
    flex-basis:50%;
}
.listLabel-left{
    text-align: right;
    padding-right:0.5em;
    color:#2f91e4;
}
.listLabel-right{
    text-align: left;
    padding-left:0.5em;
    color:#666;
}
.devicePanel .unVisibleDiv {
    display: none;
}
.devicePanel .unVisibleDiv .mapInfo {
    width:100%;
}

.mapInfo .mapInfoDetail{
    text-align: center;
    padding-bottom: 10px;
}
.mapInfo .mapInfoDetail .el-button{
    width: 150px;
    border-radius: 20px;
    height: 30px;
    font-size: 10px;
}
.mapInfo .listLabel-left{
    flex-basis:50%;
}
.mapInfo .listLabel-right{
    flex-basis:50%;
}
.cesc-color{
    color: #2f91e4;
}
.leftDotBox{
    flex-basis: 20%;
    text-align: center;
}
.icon-icon-life-alarm{
    font-size: 1.5em;
}