.devicePanel {
    background: #f1f1f1;
    color: #9d9d9d;
    box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, .1);
    z-index: 2;
}

.deviceListBox {
    min-width: 18em;
    width:18.5%;
    height: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 5px;
}

.listBoxTop {
    height: 11.5em;
    background: #2f91e4;
}

.listBoxTitle {
    height: 3em;
    line-height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    color: #fff;
    background: #007EDF;
}

.listBadge {
    padding: 0.2em 0.8em;
    background: #f2b817;
    border-radius: 2em;
    color: #fff;
}

.rotate-up {
    transform: rotate(-90deg);
}

.rotate-down {
    transform: rotate(90deg);
}

.filterBox {
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterBox .cesc-tag {
    padding: 0.3em 0.5em;
}
.deviceSearch{
    width: 100%;
    padding: 0 1em;
    margin: 20px 0 15px;
}

.deviceSearch .el-input__inner{
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 2em;
    line-height: 3em;
    outline: none;
    border: none;
    background: url("../../images/searchBtn.png")no-repeat;
    background-color: #fff;
    padding: 0px 15px 0px 35px;
    background-position-x: 8px;
    background-position-y: center;
}

.listBoxContent {
    height: calc(100% - 11.5em);
    overflow: auto;
    padding: 0 5px;
    background: #f1f1f1;
}

.listBoxContent > li {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #eee;
}

.listBoxContent > li:first-child {
    margin-top: 5px;
}

.listBoxContent > li:hover, .listBoxContent .active {
    background: #EDF6FD;
    cursor: default;
}

.listItemTop {
    height: 2.6em;
    line-height: 2.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    border-bottom: 2px solid #f1f1f1;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
}

.listItemTop > span {
    color: #555;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.listItemTop > i {
    padding-right: 5px;
    font-size: 1.2em;
}

.listItemTop > i:last-child {
    padding-right: 0;
}


.listContent {
    flex-wrap: wrap;
    padding: 1em 0;
    position: relative;
    overflow: hidden;
}

.halfRadius .listItemTop:before,.halfRadius  .listItemTop:after, .halfRadius:before, .halfRadius:after {
    display: block;
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    background: #f1f1f1;
    border-radius: 2em;
}

.halfRadius .listItemTop:before {
    left: -0.5em;
    bottom: -0.5em;
}

.halfRadius .listItemTop:after {
    right: -0.5em;
    bottom: -0.5em;
}

.halfRadius:before {
    left: -0.5em;
    top: -0.5em;
}

.halfRadius:after {
    right: -0.5em;
    top: -0.5em;
}

.listLabel-left {
    text-align: right;
    padding-right: 0.5em;
    color: #2f91e4;
    display:table-cell;
}

.listLabel-right {
    display:table-cell;
    text-align: left;
    padding-left: 0.5em;
    color: #666;
}

.devicePanel .unVisibleDiv {
    display: none;
}

.devicePanel .unVisibleDiv .mapInfo {
    width: 100%;
}

.mapInfo .mapInfoDetail {
    text-align: center;
    padding-bottom: 10px;
}
.mapInfo .mapInfoDetail .el-button{
    padding:0 3em;
    border-radius: 20px;
    height: 30px;
    font-size: 10px;
}

.mapInfo .listLabel-left {
    flex-basis: 50%;
}

.mapInfo .listLabel-right {
    flex-basis: 50%;
}

.cesc-color {
    color: #2f91e4;
}

.leftDotBox {
    width: 4em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.icon-icon-life-alarm {
    font-size: 1.5em;
}

.twinkle{
    animation:twinkling 0.5s infinite;
    -webkit-animation: twinkling 0.5s infinite ease-in-out;
}
.animated{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes twinkling{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes twinkling{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}