.statusToolsBox{
    background: #fff;
    border-radius:10px;
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    padding:10px;
    width:400px;
    z-index:1;
}
.tools-top{
    padding-bottom:10px;
    border-bottom:1px solid #dadada;
}
.tools-bottom{
    padding-top:10px;
}
.tools-top > span,.tools-bottom > span{
    margin-right:0.5em;
}
.tools-top > strong{
    vertical-align: middle;
}
.tools-top b{
    display: inline-block;
    width:16px;
    height:8px;
    margin-right:0.2em;
    vertical-align: middle;
}
.normalLabel > b{
    background: #2f91e4;
}
.warningLabel > b{
    background: #f2b817;
}
.dangerLabel > b{
    background: #fe5240;
}
.offlineLabel > b{
    background: #c0c0c0;
}
.overLineLabel > b{
    background: #FF00FF;
}
.cesc-badge{
    padding:0.3em 0.5em;
    border:1px solid #999;
    color: #999;
    position:relative;
    cursor:pointer;
}
.cesc-badge-active{
    padding:0.3em 0.5em;
    border:1px solid #2f91e4;
    color: #2f91e4;
    cursor:pointer;
}
.cesc-tag{
    padding:0.3em 1.2em;
    border-radius:2em;
    border:1px solid #fff;
    color: #fff;
    cursor:pointer;
}
.cesc-tag-active{
    padding:0.3em 1.2em;
    border-radius:2em;
    background: #fff;
    border:1px solid #fff;
    color: #666;
    cursor:pointer;
}
.selectItem > b,.selectItem > i{
    color: #589fd5;
    vertical-align: middle;
}