.statisticsPanel{
    max-width: calc(100% - 18em - 25px);
    width:calc(81.5% - 25px);
    height:calc(100% - 20px);
    position:absolute;
    right:10px;
    top:10px;
    background: #e1e1e1;
}
.statisticsPanel-top{
    height: 10em;
    background: #f1f1f1;
}
.statisticsPanel-bottom{
    margin-top:5px;
    height:calc(100% - 10em - 5px);
}
.dataLayout{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dataLayoutItem{
    text-align: center;
}
.dataLayoutItem >p:first-child{
    margin-bottom:1em;
}
.dataLayoutItem >p:nth-child(2){
    color: #555;
}
.dataTabBox{
    display: block;
    padding:0 5px;
    background:#f1f1f1;
}
.dataTabBox > li{
    float: left;
}
.dataTabBox > li > a{
    display: block;
    height:3em;
    line-height:3em;
    padding:0 1.5em;
}
.dataTabBox .active{
    border-top-right-radius:10px;
    background: #fff;
}
.selectTools{
    border:1px solid #eee;
    height:2.4em;
    line-height:2.4em;
    padding:0 10px;
}
.selectTools .selectItem{
    font-size:12px;
    margin-right: 1em;
}
.mainData-content{
    height:calc(100% - 2.4em);
}
.mainData-content .toggleGroup{
    text-align: center;
    padding:3em 0;
    min-height:11em;
}
.dataView{
    height:calc(100% - 11em);
}
.toggleGroup .smallInfo{
    text-align: center;
    color: #555;
    margin-top:10px;
    font-size: 12px;
}
.chartGroup{
    text-align: center;
    min-height:4em;
}
.deviceChart-title{
    font-size:18px;
    color: #589fd5;
    margin-bottom:10px;
}
.chartPanel{
    padding: 10px;
}
.detailChartBox{
    height:calc(100% - 4em);
}
/*
修改el-select
*/
.selectBox{
    width:6em;
    color:#fff;
}
.selectBox .el-input__icon{
    width:12px;
}
.selectBox .el-input__icon+.el-input__inner{
    padding-right: 12px;
    border:none;
    background:transparent;
    color: inherit;
    text-overflow:ellipsis;
}
.selectBox input::-webkit-input-placeholder{
    color: #666;
}

.selectBox input:-moz-placeholder, textarea:-moz-placeholder {
    color:#666;
}

.selectBox　　input::-moz-placeholder, textarea::-moz-placeholder {
    color:#666;
 }
.selectBox　　input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#666;
}