<div class="mainContent">
    <div :id="mainContentDivId" class="row clearfix cesc-tab-content">
        <div class="col-md-12 col-sm-12 col-xs-12 bigPanel" v-show="containerMain.showList">
            <div class="x_panel animated fadeIn">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        测站权限配置
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--左侧工具栏-->
                    <div class="btn-group hidden-xs" role="group">
                        <!--vue的单击事件绑定 v-on:click="xxx"-->
                        <button type="button" class="btn btn-outline btn-default" title="新增"
                                @click="containerMain.add">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default" title="删除"
                                @click="containerMain.del">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!--右侧搜索栏-->
                    <form class="form-inline pull-right">
                        <!--查询条件弹出框，查询条件都放里面-->
                        <el-popover placement="left" width="400" trigger="click">
                            <form>
                                <div class="form-group">
                                    <label>数据角色</label><br>
                                    <el-select v-model="containerMain.dataRole" filterable
                                               placeholder="" style="width: 100%;">
                                        <el-option
                                                v-for="item in containerMain.dataRoles"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="form-group">
                                    <label>测站名称</label>
                                    <input type="text" class="form-control"
                                           v-model="containerMain.toolbarQueryParam.facilityName">
                                </div>
                                <div class="form-group">
                                    <label>测站类型</label><br>
                                    <el-select v-model="containerMain.facilityType" filterable
                                               placeholder="" style="width: 100%;">
                                        <el-option
                                                v-for="item in containerMain.facilityTypes"
                                                :key="item.id"
                                                :label="item.nameCn"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </form>
                            <form class="form-inline pull-right">
                                <!--查询按钮-->
                                <button type="button" class="btn btn-default btn-outline"
                                        @click="containerMain.search">
                                    查询
                                </button>
                                <!--清空查询条件-->
                                <button type="button" class="btn btn-default btn-outline"
                                        @click="containerMain.initToolbarQueryParam">
                                    清空
                                </button>
                            </form>
                            <!--打开查询弹窗的按钮-->
                            <button type="button" class="btn btn-default btn-outline" title="查询" slot="reference">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </el-popover>
                        <!--刷新功能按钮-->
                        <button type="button" class="btn btn-default btn-outline" title="刷新"
                                @click="containerMain.search">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                    </form>
                    <!--表格控件，控件定义在js-->
                    <!--一个页面如果有多个这样的table，这里的id要改，容器对应的id也要改-->
                    <table id="tableMain">
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 bigPanel" v-show="containerFacility.showList">
            <div class="x_panel animated fadeIn">
                <div class="x_title">
                    <!--标题-->
                    <h2>
                        测站
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--左侧工具栏-->
                    <div class="btn-group hidden-xs" role="group">
                        <!--子表返回主表的返回按钮-->
                        <button type="button" class="btn btn-outline btn-default" title="返回"
                                v-on:click="backFacilityList">
                            <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <!--子表返回主表的返回按钮-->
                        <button type="button" class="btn btn-outline btn-default" title="保存"
                                v-on:click="containerFacility.selectFacility">
                            保存
                        </button>
                    </div>
                    <div class="btn-group hidden-xs" role="group">
                        <form class="form-inline pull-left1">
                         <!--   <div class="row">-->
                                <div class="form-group" style="width:400px;">
                                    <label class="col-sm-3 control-label">数据角色：</label>
                                    <div class="col-sm-9">
                                        <el-select v-model="containerFacility.dataRole" filterable
                                                   placeholder="">
                                            <el-option
                                                    v-for="item in containerMain.dataRoles"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>
                       <!--     </div>-->
                        </form>
                    </div>
                    <!--右侧搜索栏-->
                    <form class="form-inline pull-right">
                        <!--查询条件弹出框，查询条件都放里面-->
                        <el-popover placement="left" width="400" trigger="click">
                            <form>
                                <div class="form-group">
                                    <label>测站名称</label>
                                    <input type="text" class="form-control"
                                           v-model="containerFacility.toolbarQueryParam.name">
                                </div>
                                <div class="form-group">
                                    <label>测站类型</label>
                                    <el-select v-model="containerFacility.lstFacilityTypeId" multiple
                                               style="width: 100%;">
                                        <el-option
                                                v-for="item in containerFacility.facilityTypeIds"
                                                :key="item.id"
                                                :label="item.nameCn"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="form-group">
                                    <label>所属区</label>
                                    <input type="text" class="form-control" placeholder=""
                                           v-model="containerFacility.toolbarQueryParam.district">
                                </div>
                                <div class="form-group">
                                    <label>所属单位</label>
                                    <input type="text" class="form-control" placeholder=""
                                           v-model="containerFacility.toolbarQueryParam.departmentName">
                                </div>
                            </form>
                            <form class="form-inline pull-right">
                                <!--查询按钮-->
                                <button type="button" class="btn btn-default btn-outline"
                                        @click="containerFacility.search">
                                    查询
                                </button>
                                <!--清空查询条件-->
                                <button type="button" class="btn btn-default btn-outline"
                                        @click="containerFacility.initToolbarQueryParam">
                                    清空
                                </button>
                            </form>
                            <!--打开查询弹窗的按钮-->
                            <button type="button" class="btn btn-default btn-outline" title="查询" slot="reference">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </el-popover>
                        <!--刷新功能按钮-->
                        <button type="button" class="btn btn-default btn-outline" title="刷新"
                                @click="containerFacility.search">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                    </form>
                    <!--表格控件，控件定义在js-->
                    <!--一个页面如果有多个这样的table，这里的id要改，容器对应的id也要改-->
                    <table id="tableFacility">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>