<div class="rainPollutionPanel projectMenu" @mouseover="showToggle = true;" @mouseleave="showToggle = false;">
    <!--<transition enter-active-class="slideInDown" leave-active-class="slideOutUp">-->
        <!--<div class="weatherAlarmBox animated" v-if="openAnalysisRoad">-->
            <!--<img src="../../../img/icon/tianqi.png" alt="">-->
            <!--<marquee class="alarmInfo" behavior="scroll" direction="left" style="width: calc(100% - 93px);">当前：晴天，今晚夜间：多云转阴有小雨，降水概率80%；</marquee>-->
        <!--</div>-->
    <!--</transition>-->
    <transition enter-active-class="fadeInRight" leave-active-class="fadeOutRight">
        <div class="commandBox pollutionBox animated" v-if="openAnalysisRoadBox">
            <div class="menuToggle" v-show="showToggle"><a class='toggleButton' :class='{toggleOff:openAnalysisRoadBox}'
                                                           @click="togglePipeLineBox"></a></div>
            <div class="commandItem" style="height: 100%;">
                <div class="devicePanel-top text-center">
                    <span style="flex:1;">高水位运行问题列表</span>
                </div>
                <div class="devicePanel-bottom">
                    <el-table
                            :data="pipeLineArr"
                            @row-click="openMonitorPipe"
                            style="width: 100%;height: calc(100% - 3em);overflow: auto;">
                        <el-table-column
                                prop="id"
                                label="编号"
                                sortable
                                width="120"
                                :formatter="formatter">
                        </el-table-column>
                        <el-table-column
                                prop="location"
                                label="所在道路">
                        </el-table-column>
                        <el-table-column
                                prop="length"
                                label="管线长度"
                                width="120">
                            <template scope="scope">
                                {{scope.row.length}}米
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="table-pagination">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[100, 200, 300, 400]"
                                :page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="pipeLineArr.length">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </transition>
    <transition enter-active-class="fadeInUP" leave-active-class="fadeOutDown">
        <div class="rainChartBox animated" v-if="openAnalysisRoadBox && showData">
            <el-col :span="8" class="rainChartInfo">
                <div class="tile_stats_count colFix" style="text-align: center;">
                    <span class="count_top"><i class="fa fa-cog"></i> 全县管线总长度：</span>
                    <div class="count"  style="font-size: 20px;font-weight: 600;color: #009fff;">157.75公里；</div>
                </div>
                <div class="tile_stats_count colFix" style="text-align: center;">
                    <span class="count_top"><i class="fa fa-cog"></i> 已实时监测管线长度：</span>
                    <div class="count"  style="font-size: 20px;font-weight: 600;color: #009fff;">2.75公里；</div>
                </div>

                <div class="tile_stats_count colFix" style="text-align: center;">
                    <span class="count_top"><i class="fa fa-cog"></i>高水位运行管线长度：</span>
                    <div class="count"  style="font-size: 20px;font-weight: 600;color: #009fff;">1.79公里占比{{pipeInfo.rate}}%</div>
                </div>
            </el-col>
            <el-col :span="16" style="height: 100%;">
                <chart-lib :chartId="'gxBarChart'" ref="gxBarChart" :chartOptions="barChartOptions"></chart-lib>
            </el-col>
        </div>
    </transition>
</div>
