<div class="rainPollutionPanel projectMenu" @mouseover="showToggle = true;" @mouseleave="showToggle = false;">
    <!--<transition enter-active-class="slideInDown" leave-active-class="slideOutUp">-->
        <!--<div class="weatherAlarmBox animated" v-if="openAnalysisRoad">-->
            <!--<img src="../../../img/icon/tianqi.png" alt="">-->
            <!--<marquee class="alarmInfo" behavior="scroll" direction="left" style="width: calc(100% - 93px);">当前：晴天，今晚夜间：多云转阴有小雨，降水概率80%；</marquee>-->
        <!--</div>-->
    <!--</transition>-->
    <transition enter-active-class="fadeInRight" leave-active-class="fadeOutRight">
        <div class="commandBox pollutionBox animated" v-if="openAnalysisRoad">
            <div class="menuToggle" v-show="showToggle"><a class='toggleButton' :class='{toggleOff:openAnalysisRoad}'
                                                           @click="togglePipeLineBox"></a></div>
            <div class="commandItem" style="height: 100%;">
                <div class="devicePanel-top text-center">
                    <span style="flex:1;">高水位运行问题列表</span>
                </div>
                <div class="devicePanel-bottom">
                    <el-table
                            :data="pipeLineArr"
                            row-click="openMonitorPipe"
                            style="width: 100%;height: calc(100% - 3em);overflow: auto;">
                        <el-table-column
                                prop="id"
                                label="编号"
                                sortable
                                width="120"
                                :formatter="formatter">
                        </el-table-column>
                        <el-table-column
                                prop="location"
                                label="所在道路">
                        </el-table-column>
                        <el-table-column
                                prop="length"
                                label="管线长度"
                                width="120">
                            <template scope="scope">
                                {{scope.row.length}}米
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="table-pagination">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[100, 200, 300, 400]"
                                :page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="pipeLineArr.length">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </transition>
    <transition enter-active-class="fadeInUP" leave-active-class="fadeOutDown">
        <div class="rainChartBox animated" v-if="openAnalysisRoad">
            <el-col :span="8" style="height: 100%;">

            </el-col>
            <el-col :span="16" style="height: 100%;">
                <chart-lib :chartId="'lineChart'" ref="lineChart" :chartOptions="barChartOptions"></chart-lib>
            </el-col>
        </div>
    </transition>
</div>
