<transition name="right-panel">
    <div v-show='rightPanelOpen' class='right-panel'>
        <div class="panel-header">
            <span class="goBack"><a href='#' class="el-icon-d-arrow-right" @click="closePanel"></a></span>
            <span class="facilityImg" v-bind:class="facilityType"></span>
            <span class="facilityName">{{facilityName}}</span>
            <el-menu :default-active="activeIndex" class="el-menu-demo menu-full" mode="horizontal"
                     @select="switchMode">
                <el-menu-item index="1" id="realTimeMode">实时监测</el-menu-item>
                <el-menu-item index="2" id="historicalMode">历史数据</el-menu-item>
            </el-menu>
        </div>
        <div class="panel-content">
            <div class="panel-top">
                <div class="device-title" v-show='isRealTimeMode'>
                    <span>监控项</span><i class="wifiStatus"></i>
                    <span class="refreshTime">更新时间：{{lastUpdateTime}}</span>
                </div>
                <div class="part" v-bind:class="{partHistory:!isRealTimeMode}">
                    <date-control ref='dateController' v-show='!isRealTimeMode'></date-control>
                    <div v-show='isRealTimeMode' class="part-Img-Box" v-for="(device,index) in devices">
                        <div class="part-Img">
                            <img class='facilityPic' :src="facilityPic" alt="设施图">
                        </div>
                        <div class="conciseInfo">
                            <p class="conciseTitle">{{device.name}}
                                <a @click="showMonitorInfo(device)" class="showMore pull-right" v-show="devices.length > 1">详情</a>
                                <a @click="showInit" class="showMore pull-right" v-show="showBack">返回</a>
                            </p>
                            <el-col class="conciseBody" :span="24">
                                <el-col :span="device.monitorSpan" class="conciseItem" v-for="monitor in device.items" v-if="monitor.name !== '信号强度'">
                                    <p class="item-top">{{monitor.name}}</p>
                                    <p class="item-bottom" v-if='monitor.status === 0'>正常</p>
                                    <p class="item-bottom" v-if='monitor.status === 1'>正在预警</p>
                                    <p class="item-bottom" v-if='monitor.status === 2'>正在报警</p>
                                </el-col>
                            </el-col>
                        </div>
                    </div>
                    <monitor ref='monitorPlugin' v-show="devices.length <= 1"></monitor>
                </div>
            </div>
            <div class="panel-middle">
                <div class="device-title" v-show='isRealTimeMode'>
                    <span>统计图表</span>
                    <!--<div v-if="facilityType!=='ylz'" class="pull-right">-->
                    <!--<span v-if="facilityType!='xs'" class="gradeTitle"　>当前等级</span>-->
                    <!--<span class="grade six" title="6" v-bind:class="{currentGrade:waterGrade=='6'}">{{waterGradeTitle}}</span>-->
                    <!--</div>-->
                </div>
                <statistics ref='statisticPlugin'></statistics>
            </div>
            <div class="panel-bottom">
                <div class="device-title" v-show='isRealTimeMode'>
                    <span>实时数据</span>
                </div>
                <div class="bottom-r">
                    <el-table
                            :data="tableData"
                            border
                            style="width: 100%;height: 100% ;overflow-y: auto;">
                        <el-table-column
                                prop="deviceUpdateTime"
                                label="日期">
                        </el-table-column>
                        <el-table-column
                                prop="dValue"
                                label="监测值">
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
    </div>
</transition>
