/*页面初始化代码*/
html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    scrollbar-base-color: #105ba3;
    scrollbar-track-color: #F5F5F5;
    scrollbar-shadow-color: #1a5f17;

}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.mapDiv {
    width: 100%;
    height: 100%;

}

.rightContainer {
    height: 100%;
    width: calc(100% - 200px);
    margin-left: 200px;
}

.maxContainer {
    margin-left: 0 !important;
    width: 100% !important;
}

.minMenu {
    margin-left: -198px;
}

.el-dialog__headerbtn {
    background-color: white;
    border: 0;
}

.el-dialog__body {
    border-top: 2px solid #E9E9E9;
    margin-top: 1em;
}

.pageContent {
    overflow: hidden;;
    position: absolute;
    top: 7em;
    overflow-y: auto;
    height: calc(100% - 7em);
    width: calc(100% - 200px);
}

.navFix {
    border-bottom: 1px solid #d8d8d8;
    height: 4em;
    float: right;
    width: 100%;
}

.navFix .nav_menu {
    height: 100%;
}
.titleBackground {
    background-color: #105ba3;
    background-size: 7em 6em;
    height: 6.8em;
    width:100%;
    background:url("../img/LOGO.png") center center no-repeat;
    border-bottom:2px solid #095393;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #105ba3;
}

.no-margin {
    margin: 0 !important;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 6px;
    background-color: #105ba3;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f7f7f7 !important;
}

.pipeDetailDialog {
    top: 7em !important;
    margin-left: 100px;
    margin-bottom: 0;
    height: calc(100% - 8em);
    width: calc(100% - 206px);
}

.pipeDetailDialog .el-dialog_footer {
    height: 4.5em;
}

.pipeDetailDialog .el-dialog__header {
    height: 2.5em;
}

.pipeDetailDialog .el-dialog__body {
    height: calc(100% - 7em);
    overflow: hidden;
    padding: 0 5px !important;
}

.pipeDetailDialog .modeSpan {
    margin: 0 10px;
}

#loadingMask {
    opacity: 0.6;
}

#navigatorView {
    margin: 0 0;
    /*padding: 15px 15px;*/
}
.weatherReportPanel{
    position: absolute;
    top: 0em;
    z-index: 999;
    background-color: white;
}
.radarReportPanel{
    position: absolute;
    bottom: 7em;
    z-index: 999;
    background-color: white;
    width: 17em;
}