/*ewater附加样式*/

/*首页*/

body {
    /*全局字体*/
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

/*列表功能*/

.x_panel {
    border: 1px solid #F7F7F7;
}

.x_title {
    border-bottom: 1px solid #E6E9ED;
}