<div class="rainPollutionPanel">
    <transition enter-active-class="slideInDown" leave-active-class="slideOutUp">
        <div class="weatherAlarmBox animated" v-if="openRainPollution">
            <img src="../../../img/emegency/red-light.png" alt="">
            <marquee class="alarmInfo" behavior="scroll" direction="left" style="width: calc(100% - 93px);">当前：晴天，今晚夜间：多云转阴有小雨，降水概率80%；</marquee>
        </div>
    </transition>
    <transition enter-active-class="fadeInRight" leave-active-class="fadeOutRight">
        <div class="commandBox pollutionBox animated" v-if="openRainPollution">
            <div class="menuToggle" v-show="showToggle"><a class='toggleButton' :class='{toggleOff:openRainPollution}'
                                                           @click="togglePollutionBox"></a></div>
            <div class="commandItem" style="height: 100%;">
                <div class="devicePanel-top text-center">
                    <span style="flex:1;">雨污混接问题列表</span>
                </div>
                <div class="devicePanel-bottom">
                    <el-table
                            :data="connectArr"
                            style="width: 100%;height: calc(100% - 3em);overflow: auto;">
                        <el-table-column
                                prop="id"
                                label="编号"
                                sortable
                                width="120">
                        </el-table-column>
                        <el-table-column
                                prop="location"
                                label="所在道路">
                        </el-table-column>
                        <el-table-column
                                prop="questionType"
                                label="问题类型"
                                width="120">
                        </el-table-column>
                    </el-table>
                    <div class="table-pagination">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-sizes="[100, 200, 300, 400]"
                                :page-size="pageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="connectArr.length">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>
    </transition>
    <transition enter-active-class="fadeInUP" leave-active-class="fadeOutDown">
        <div class="rainChartBox animated" v-if="openRainPollution">
            <el-col :span="8" style="height: 100%;">
                <chart-lib :chartId="'pieChart'" ref="pieChart" :chartOptions="pieChartOptions"></chart-lib>
            </el-col>
            <el-col :span="16" style="height: 100%;">
                <chart-lib :chartId="'lineChart'" ref="lineChart" :chartOptions="lineChartOptions"></chart-lib>
            </el-col>
        </div>
    </transition>
</div>
