<div class="commadPanel projectMenu" @mouseover="showToggle = true;" @mouseleave="showToggle = false;">
   <transition enter-active-class="slideInDown" leave-active-class="slideOutUp">
      <div class="weatherAlarmBox animated" v-if="showAlarmBox">
         <img src="../../../img/emegency/red-light.png" alt="">
         <span class="alarmInfo">高青县气象局{{todayInfo.todayDate}}{{todayInfo.todayTime}}发布<b class="alarm-text">暴雨红色报警信号</b></span>
         <span class="normalBtn startStepBtn" @click="startStep" v-text="isStart?'提闸申请':'启动预案'"></span>
         <span class="normalBtn endStepBtn" @click="endStep" v-show="isStart">结束预案</span>
      </div>
   </transition>
   <transition enter-active-class="fadeInRight" leave-active-class="fadeOutRight">
      <div class="commandBox animated" v-if="showCommandBox">
         <div class="menuToggle" v-show="showToggle"><a class='toggleButton' :class='{toggleOff:showCommandBox}'
                                                        @click="toggleCommadBox"></a></div>
         <div class="commandItem" style="height: 40%;">
            <div class="devicePanel-top text-center">
               <span style="flex:1;">{{todayInfo.todayDate}}</span>
            </div>
            <div class="devicePanel-bottom">
               <el-col :span="8" class="radar-left">
                  <div class="radarTips">
                     <!--<img src="../../../img/emegency/red-alarm.png" alt="">
                     <p style="flex-basis:100%; color:#E91527;">{{todayInfo.todayTime}}发布</p>-->
                  </div>
                  <div class="radarTips">
                     <span class="weather-num">{{todayInfo.todayDegree}}</span>
                  </div>
                  <div class="radarTips">
                     <img src="../../../img/emegency/radar-icon.png" alt="">
                     <p style="flex-basis:100%;">气象雷达监测</p>
                  </div>
               </el-col>
               <el-col :span="16" class="radar-right">
                  <img class="erImg" src="../../../img/emegency/radar.jpg"/>
               </el-col>
            </div>
         </div>
         <div class="commandItem" style="height: 60%;">
            <div class="devicePanel-top text-center">
               <span style="flex:1;">应急队伍</span>
            </div>
            <div class="devicePanel-bottom">
               <el-table
                       :data="emergencyData"
                       style="width: 100%;height:100%;overflow: auto;">
                  <el-table-column
                          prop="name"
                          label="姓名"
                          width="120">
                  </el-table-column>
                  <el-table-column
                          prop="department"
                          label="所属部门">
                  </el-table-column>
                  <el-table-column
                          label="操作"
                          width="120"
                          class-name="operateItem">
                     <template scope="scope">
                        <span class="cesc-tag-active cesc-tag-active-b" @click="handleClick(scope.row)">对讲</span>
                     </template>
                  </el-table-column>
               </el-table>
            </div>
         </div>
      </div>
   </transition>
   <transition enter-active-class="fadeInUP" leave-active-class="fadeOutDown">
      <div class="seeperBox animated" v-if="showCommandBox">
         <div class="cesc-box seeperList">
            <div class="seeperItem" v-for="item in seeperArr">
               <div class="seeperItem-top">
                  <span>{{item.title}}</span>
               </div>
               <div class="seeperItem-bottom">
                  <span class="cesc-red-box"
                        :class="{'dangerBg':item.status === 2,
                                 'warningBg':item.status === 1,
                                 'normalBg':item.status === 0}">
                     {{item.name}}：{{item.num}}</span>
               </div>
            </div>
         </div>
      </div>
   </transition>
   <el-dialog :visible.sync="showSmallDialog"
              :show-close="false"
              top="50%"
              :custom-class="dialogClass">
      <div slot="title" class="dialog-title">
          <p class="dailog-text">提闸排水请示</p>
          <div class="shareBox">
             <span class="shareIcon">
                <i class="icon iconfont icon-yunpan"></i>
             </span>
             <span class="shareIcon" @click="saveImgFun">
                <i class="icon iconfont icon-youxiang"></i>
             </span>
             <span class="shareIcon">
                <i class="icon iconfont icon-QQ"></i>
             </span>
             <span class="shareIcon">
                <i class="icon iconfont icon-weixin"></i>
             </span>
          </div>
         <span class="title-btn title-close icon iconfont icon-shanchu" @click="closeReportModel"></span>
         <span class="title-btn title-scale icon iconfont icon-zuidahua" v-show="!isShowDetail" @click="toggleDetail"></span>
      </div>
      <div class="dialog-content">
         <div class="dialogContent-top">
            <div class="dialogBodyItem lgBox-left">
               <p class="report-title">涝情概况</p>
               <div class="report-content">
                  <p class="shortNote">8月02日18时我县出现强降水过程，田镇(城区)降水量达52.2毫米，城区多地发生严重路面积水，特此发出提闸排水请示。</p>
               </div>
            </div>
            <div class="dialogBodyItem lgBox-right">
               <p class="report-title">积水点</p>
               <div class="report-content">
                  <ul class="pondingBox clearfix">
                     <li v-for="item in pondingArr">
                        <div class="pondingBox-left">
                           <img :src="item.src" alt="item.name" width="100%">
                        </div>
                        <div class="pondingBox-right">
                           <p class="ponding-title">{{item.name}}</p>
                           <div class="pondingContent">
                              <div class="listLabel text-right">
                                 <p>积水已达：</p>
                                 <p>距离倒灌小区：</p>
                              </div>
                              <div class="listLabel text-left">
                                 <p>{{item.value1}}</p>
                                 <p>{{item.value2}}</p>
                              </div>
                           </div>
                           <!--<div class="listContent" v-for="tip in item.children">-->
                           <!--<div class="listLabel-left">-->
                           <!--<p>{{tip.key}}</p>-->
                           <!--</div>-->
                           <!--<div class="listLabel-right">-->
                           <!--<p>{{tip.value}}</p>-->
                           <!--</div>-->
                           <!--</div>-->
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="dialogContent-bottom" v-show="isShowDetail">
            <div class="extraItem">
               <div class="extraTop">
                  <p class="extraTitle">——&nbsp;&nbsp;内涝信息&nbsp;&nbsp;——</p>
                  <i class="icon iconfont icon-zuixiaohua" @click="toggleDetail"></i>
               </div>
               <div class="extraContent">
                  <div class="seeperList">
                     <div class="seeperItem" v-for="item in seeperArr">
                        <div class="lgBox-seeperTop">
                           <span>{{item.title}}</span>
                        </div>
                        <div class="lgBox-seeperBottom">
                              <span class="lgBox-radiusBox"
                                      :class="{'dangerBorder':item.status === 2,
                                             'warningBorder':item.status === 1,
                                             'normalBorder':item.status === 0}">
                                 {{item.name}}：{{item.num}}</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="extraItem">
               <div class="extraTop">
                  <p class="extraTitle">——&nbsp;&nbsp;抢险实况&nbsp;&nbsp;——</p>
               </div>
               <div class="extraContent">
                  <div class="extraImgList">
                     <div class="extraImgItem" v-for="item in emergencyImgList">
                        <img :src="item.src" alt="">
                        <p class="altInfo">{{item.text}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </el-dialog>
   <el-dialog :visible.sync="showEndDialog"
              :show-close="false"
              top="50%"
              custom-class="normalDialog appleyBox-lg">
      <div slot="title" class="dialog-title">
         <p class="dailog-text"><span>08/02</span>应急响应报告</p>
         <div class="shareBox">
             <span class="shareIcon">
                <i class="icon iconfont icon-yunpan"></i>
             </span>
            <span class="shareIcon" @click="saveImgFun">
                <i class="icon iconfont icon-youxiang"></i>
             </span>
            <span class="shareIcon">
                <i class="icon iconfont icon-QQ"></i>
             </span>
            <span class="shareIcon">
                <i class="icon iconfont icon-weixin"></i>
             </span>
         </div>
         <span class="title-btn title-close icon iconfont icon-shanchu" @click="closeEndModel"></span>
      </div>
      <div class="dialog-content">
         <div class="dialogContent-bottom">
            <div class="extraItem">
               <div class="extraTop">
                  <p class="extraTitle cesc-color">——&nbsp;&nbsp;应急简报&nbsp;&nbsp;——</p>
               </div>
               <div class="extraContent">
                  <div class="reportListBox">
                     <div class="reportListItem" v-for="item in reportList">
                        <span class="reportBorder">{{item.date}}</span>
                        <span class="reportText">{{item.text}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="extraItem">
               <div class="extraTop">
                  <p class="extraTitle cesc-color">——&nbsp;&nbsp;雨情信息&nbsp;&nbsp;——</p>
               </div>
               <div class="extraContent">
                  <p>经统计，2017年08月02日17时42分至08月02日19时42分，我县出现强降水过程，降水量统计如下：</p>
                  <div class="seeperList yqInfoBox">
                     <div class="seeperItem" style="margin:0;" v-for="item in seeperArr">
                        <div class="seeperItem-top">
                           <span>{{item.title}}</span>
                        </div>
                        <div class="seeperItem-bottom">
                              <span class="cesc-red-box" style="color: #666;">
                                 {{item.name}}：{{item.num}}</span>
                        </div>
                     </div>
                  </div>
                  <p style="display: flex;justify-content: space-between;align-items: center;"><span>全县平均37.7mm</span><span>【高青县气象局】</span></p>
               </div>
            </div>
         </div>
         <div class="dialogContent-bottom">
            <div class="extraItem">
               <div class="extraTop">
                  <p class="extraTitle cesc-color">——&nbsp;&nbsp;抢险调度情况&nbsp;&nbsp;——</p>
               </div>
               <div class="extraContent">
                  <div class="managerInfo">
                     <p style="padding: 5px;">经统计，防汛办抢险人员触动8人，车辆4台，水泵2台。</p>
                     <p style="padding: 5px;">经统计，此次城区出现明显积水点5个，大悦路东最大积水深度70公分，青城路西最大积水深度60公分，高苑路东最大积水深度70公分，中心路最大积水深度70公分，丽居路最大进水深度60公分。经抢险人员及时出路，以上积水点已于19时10分全部恢复交通。特此报告。</p>
                  </div>
               </div>
            </div>
            <div class="extraItem">
               <div class="extraTop">
                  <p class="extraTitle cesc-color">——&nbsp;&nbsp;抢险实况&nbsp;&nbsp;——</p>
               </div>
               <div class="extraContent">
                  <div class="extraImgList">
                     <div class="extraImgItem" v-for="item in emergencyImgList">
                        <img :src="item.src" alt="">
                        <p class="altInfo">{{item.text}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </el-dialog>
</div>