<div>
    <div class="devicePanel multiDeviceBox" v-if="isOpenPanel" style="bottom:calc(18em + 10px)">
        <div class="devicePanel-top">
            <span>{{deviceInfo.title}}</span>
            <i class="el-icon-d-arrow-right" :class="[isOpenBox?'rotate-up':'rotate-down']" @click="toggleBox"></i>
        </div>
        <div class="devicePanel-bottom" v-show="isOpenBox">

        </div>
    </div>
    <transition enter-active-class="fadeInUP" leave-active-class="fadeOutDown">
        <div id="devicePanel" class="devicePanel deviceInfo animated" v-if="isOpenPanel">
            <div class="devicePanel-top">
                <span>{{deviceInfo.title}}</span>
                <span class="top-label">
                    <b class="cesc-tag-active" @click="openDeviceDetail">详情</b>
                </span>
                <i class="el-icon-d-arrow-right rotate-down" @click="closePanel"></i>
            </div>
            <div class="devicePanel-bottom">
                <chart-lib :chartId="'deviceWaterChart'" ref="deviceWaterChart" :chartOptions="chartOptions"></chart-lib>
            </div>
        </div>
    </transition>
</div>