<div>
    <div class="devicePanel multiDeviceBox" v-if="isOpenPanel" style="bottom:calc(18em + 10px)">
        <div class="devicePanel-top">
            <span>{{deviceInfo.title}}</span>
            <i class="el-icon-d-arrow-right" :class="[isOpenBox?'rotate-up':'rotate-down']" @click="toggleBox"></i>
        </div>
        <div class="devicePanel-bottom" v-show="isOpenBox">
            <el-tabs type="border-card" class="multiTabs">
                <!--<el-tab-pane label="雨量计">-->
                <!--<div class="tabInfoBox">-->
                <!--<div class="tabInfoImg">-->
                <!--<img src="../../../../img/mediaGallery/device-yj.jpg" alt="" width="100%">-->
                <!--</div>-->
                <!--<div class="listContent tabContent">-->
                <!--<div class="listLabel-left">-->
                <!--<p>设备编号：</p>-->
                <!--<p>降雨量：</p>-->
                <!--<p>电压：</p>-->
                <!--<p>电量：</p>-->
                <!--<p>最近通讯：</p>-->
                <!--</div>-->
                <!--<div class="listLabel-right">-->
                <!--<p>16310218</p>-->
                <!--<p class="numStatus">0(mm)</p>-->
                <!--<p>3.9V</p>-->
                <!--<p>90%</p>-->
                <!--<p>2分钟前</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="mediaBox">-->
                <!--<img src="../../../../img/mediaGallery/video.jpg" alt="" width="100%" height="100%">-->
                <!--</div>-->
                <!--</el-tab-pane>-->
                <el-tab-pane label="液位仪">
                    <div class="tabInfoBox">
                        <div class="tabInfoImg" v-for="pic in devicePics" @click="scaleImg($event,pic)" style="position:relative;">
                            <img :src="pic" alt="设备图片" width="100%" height="100%">
                            <span class="cesc-toolTip" v-show="showTip">请上传图片哦！</span>
                        </div>
                        <!--<div class="listContent tabContent">-->
                        <!--<div class="listLabel-left">-->
                        <!--<p>设备编号：</p>-->
                        <!--<p>液位：</p>-->
                        <!--<p>最近通讯：</p>-->
                        <!--</div>-->
                        <!--<div class="listLabel-right">-->
                        <!--<p>16310218</p>-->
                        <!--<p class="numStatus">0(m)</p>-->
                        <!--<p>2分钟前</p>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="mediaBox">
                        <!--<img src="../../../../img/mediaGallery/video.jpg" alt="" width="100%" height="100%">-->
                        <div class="listContent tabContent" v-if="facilityTypeName=='WD'">
                            <div class="listLabel-left">
                                <p>超声波水位：</p>
                                <p>压力水位：</p>
                                <p>井盖高度：</p>
                                <p>预警值：</p>
                                <p>报警值：</p>
                                <p>最近通讯：</p>
                            </div>
                            <div class="listLabel-right">
                                <p>{{deviceInfo.waterLevel}}</p>
                                <p class="numStatus">{{deviceInfo.stressWaterLine}}&nbsp(m)</p>
                                <p class="numStatus">{{deviceInfo.pipeHeight}}&nbsp(m)</p>
                                <p class="numStatus">{{deviceInfo.warningHeight}}&nbsp(m)</p>
                                <p class="numStatus">{{deviceInfo.alarmHeight}}&nbsp(m)</p>
                                <p>{{deviceInfo.sysUpdateTime}}</p>
                            </div>
                        </div>
                        <div class="listContent tabContent" v-if="facilityTypeName=='WP'">
                            <div class="listLabel-left">
                                <p>超声波水位：</p>
                                <p>井盖高度：</p>
                                <p>预警值：</p>
                                <p>报警值：</p>
                                <p>最近通讯：</p>
                            </div>
                            <div class="listLabel-right">
                                <p>{{deviceInfo.waterLevel}}</p>
                                <p class="numStatus">{{deviceInfo.pipeHeight}}&nbsp(m)</p>
                                <p class="numStatus">{{deviceInfo.warningHeight}}&nbsp(m)</p>
                                <p class="numStatus">{{deviceInfo.alarmHeight}}&nbsp(m)</p>
                                <p>{{deviceInfo.sysUpdateTime}}</p>
                            </div>
                        </div>
                        <div class="listContent tabContent" v-if="facilityTypeName=='RF'">
                            <div class="listLabel-left">
                                <p>雨量：</p>
                                <p>浊度：</p>
                                <p>最近通讯：</p>
                            </div>
                            <div class="listLabel-right">
                                <p>{{deviceInfo.rainfall}}</p>
                                <p class="numStatus">{{deviceInfo.turbidity}}&nbsp(m)</p>
                                <p>{{deviceInfo.sysUpdateTime}}</p>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
    <transition enter-active-class="fadeInUP" leave-active-class="fadeOutDown">
        <div id="devicePanel" class="devicePanel deviceInfo animated" v-if="isOpenPanel">
            <div class="devicePanel-top">
                <span>{{deviceInfo.title}}</span>
                <div class="deviceMiddle">
                <!--<span class="selectItem">参考线：-->
                <!--<b>参考线</b><i class="icon iconfont icon-xiajiantou"></i>-->
                <!--<ul class="selectBox" style="display:none">-->
                <!--<li></li>-->
                <!--</ul>-->
                <!--</span>-->
                <!--<span class="selectItem">数据显示：-->
                <!--<b>测量液位(m)</b><i class="icon iconfont icon-xiajiantou"></i>-->
                <!--<ul class="selectBox" style="display:none">-->
                <!--<li></li>-->
                <!--</ul>-->
                <!--</span>-->
                <!--<span class="selectItem">参考雨量计：-->
                <!--<b>五华区公众雨量监测点</b><i class="icon iconfont icon-xiajiantou"></i>-->
                <!--<ul class="selectBox" style="display:none">-->
                <!--<li></li>-->
                <!--</ul>-->
                <!--</span>-->
                <span class="selectItem">选择时间范围：
                     <el-date-picker
                             style="width:22em;"
                             class="selectBox"
                             v-model="timeRangeObj"
                             type="datetimerange"
                             :picker-options="pickerOptions"
                             placeholder="选择时间范围"
                             align="right">
                    </el-date-picker>
                    <b class="cesc-tag-active" style="margin-left:1em;" @click="searchData">查询</b>
                </span>
                </div>
                <span class="top-label">
                    <!--累计降雨量：<b>0</b>mm&nbsp;&nbsp;&nbsp;-->
                    <b class="cesc-tag-active" @click="openDeviceDetail">详情</b>
                </span>
                <i class="el-icon-d-arrow-right rotate-down" @click="closePanel"></i>
            </div>
            <div class="devicePanel-bottom">
                <chart-lib :chartId="'deviceWaterChart'" ref="deviceWaterChart" :chartOptions="chartOptions"></chart-lib>
            </div>
        </div>
    </transition>
    <el-dialog :visible.sync="showBigImg"
               :show-close="false"
               top="50%"
               custom-class="normalDialog scaleImgBox">
        <div class="dialog-content">
            <img :src="currentPic" alt="">
        </div>
    </el-dialog>
</div>