<div class="mainContent facilityFlow">
    <div class="facilityGraph">
        <!-- control -->
        <div class="graphController">
            <el-button type="warning" icon="plus" @click="openCreateFacilityPanel">新增</el-button>
            <el-button type="primary" icon="loading" @click="resetGraph"></el-button>
        </div>
        <!-- 流程图 -->
        <div class="col-md-12 facilityGraphContainer">
            <div class="x_panel">
                <div class="x_content" style="padding: 0;height: 100%;width: 100%;margin-top:1px">
                    <div class="col-sm-12" style="height: 100%;width: 100%;padding:0 0;">
                        <div id="topoRegion"></div>
                    </div>
                    <!--<div class="col-md-4">-->
                    <!--<p>Display value</p>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                    <!--<p>&#215; 'cursor' mode</p>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                    <!--<p>Step 0.1</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- /form input knob -->
    </div>
    <facility-manage-panel ref="facilityManagePanel"></facility-manage-panel>
    <el-dialog
            title="新增设备"
            :visible.sync="dialogVisible"
            size="tiny">
        <el-form label-width="80px">
            <el-form-item label="设备类型">
                <el-select v-model="newFacility" placeholder="请选择">
                    <el-option
                            key="dzsc"
                            label="电子水位尺"
                            value="dzsc">
                    </el-option>
                    <el-option
                            key="yjswy"
                            label="窨井水位仪"
                            value="yjswy">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="名称">
                <el-input style="width:230px"></el-input>
            </el-form-item>
            <el-form-item label="IMEI">
                <el-input style="width:230px" v-model="imei"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="dialogVisible = false,createNewFacility()">确 定</el-button>
  </span>
    </el-dialog>
</div>