.gaoqingPopup .esri-popup__main-container {
    width: 200px;
    border-radius: 10px;
    padding-bottom: 0px;
}
.gaoqingPopup .esri-popup__position-container {
    border-radius: 10px;
}
.gaoqingPopup .esri-popup__footer {
    border-radius: 10px;
    display: none;
}
.gaoqingPopup .esri-popup__header {
    background-color: #F1F1F1;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.gaoqingPopup .esri-popup__header .esri-popup__header-title{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 13em;
    word-break: keep-all;
}
.gaoqingPopup .esri-popup__content{
    margin:0 10px;
}
.gaoqingPopup .esri-popup__content .listContent{
    padding-bottom: 0px;
}
.gaoqingPopup .esri-popup__content .detailBtnDiv {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
.gaoqingPopup .esri-popup__content .detailBtn {
    border-radius: 2em;
    background: #009ace;
    color: #fff;
}