.tabGroups {
    width: calc(100% - 200px);
    height: 3em;
    position: absolute;
    top: 5em;
    background-color: #007edf;
    float: left;
}

.tabGroupsMax {
    width: 100% !important;
}

.tabGroups > div {
    height: 100%;
    margin-bottom: 0;
}

.gridly {
    position: relative;
    width: 100%;
    height: 100% !important;
}

.cescTab {
    border-bottom: none;
    float: left;
    border-top-right-radius: 10px;
    line-height:3em;
}

.cescTab:hover {
    background-color: #b8caa3;
    height: 100%;
    margin-top: 0;
}

.cescTab .tabName {
    text-align: center;
    float: left;
    padding: 0 2.4em;
    font-size: 1.2em;
}


.tabGroups .tabActive {
    background-color: #f1f1f1;
    height: 100%;
    margin-top: 0;
}

.tabGroups .tabActive > a {
    color: #666;
}

.cescTab .tabClose {
    float: left;
    color: #333;
    line-height: 3em;
    margin-left:-2em;
}

.tabGroups .tabContent {
    overflow: hidden;
    float: left;
    width: calc(100% - 2.4em);
}

.tabControlLeft, .tabControlRight {
    width: 1.2em;
    float: left;
    background: url('../images/arror.png') no-repeat center center;
    background-size: 100% 100%;
    opacity: 0.7;
    font-size: 1.5em;
    visibility: hidden;
}

.tabControlLeft, .tabControlRight > a {
    cursor: pointer;
}